body{
    font-family: 'Lilita One', cursive;
}
header{
    background-color: orange;
}
.testeste{
    display: flex;
    justify-content: space-between;
}
#container-header{
    margin: 0;
    width: 100%;
}
#imagem-header{
    width: 300px;
    
}
.nav .nav-link.active{
    background-color: black;
    color: orange;
}
.nav-link{
    color: black;
}
.imagem-carrossel{
    max-width: 1225px;
    height: 400px;
    width: 100%;
}
#hamburguer,#sobremesa,#cards,#fale-conosco{
    background-color: orange;
}
#whopper-monstruoso{
    width: 400px;
}
#whopper-monstruoso{
    display: flex;
    margin: auto;
}
.text-colored{
    color: #5F8135;
}
.botao-do-whopper,.botao-do-whopper:hover{
    background-color: #5F8135;
}
#hamburguer,#sobremesa{
    height: 400px;
}
.secao-background{
    background-image: url('imagens/lanches/33481-8-spider-web-file.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
.imagem-card-body{
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    display: flex;
    margin: auto;
}
.card{
    min-height: 250px;
}
#imagem-header{
    padding-right: 80px;
}